# Virtual environment
.venv/
venv/
pyvenv.cfg
Include/
Scripts/
Lib/site-packages

# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# macOS
.DS_Store

# test_code
tests/
run_tests.py
*.csv
*.zip
*.yaml

statsnz-geographic-areas-file-2019-CSV/